In [10]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.tag import pos_tag
import pandas as pd
from collections import Counter

In [2]:
text = pd.read_csv('data/text.csv')

In [28]:
text = text[['text']].dropna()
text

                                                 text
0   hello you have called virtual bank this is mar...
1   hello you have called virtual bank this is lin...
2   hello you have called virtual bank this is deb...
3   hello you have called virtual bank this is hel...
4   hello you have called virtual bank this is lin...
5   hello you have called virtual bank this is nan...
6   hello you have called virtual bank this is mar...
7   hello you have called virtual bank this is deb...
8   hello you have called virtual bank this is sar...
9   hello you have called virtual bank this is hel...
10  hello you have called virtual bank this is lin...
11  hello you have called virtual bank this is mar...
12  hello you have called virtual bank this is mar...
13  hello you have called virtual bank this is nan...
14  hello you have called virtual bank this is deb...
15  hello you have called virtual bank this is hel...
16  hello you have called virtual bank this is sar...
17  hello you have called virtual bank this is nan...
18  hello you have called virtual bank this is hel...

In [4]:
def encode(text):
    word2idx = {word: idx for idx, word in enumerate(set(text.split()))}
    idx2word = {idx: word for word, idx in word2idx.items()}
    text_enc = list(map(lambda x: word2idx[x], text.split()))
    return text_enc, word2idx, idx2word

In [25]:
def preprocess(sent):
    sent = nltk.word_tokenize(sent)
    sent = nltk.pos_tag(sent)
    return sent

In [29]:
lst = []
for index, row in text.iterrows():
    for i in row:
        lst.append(i)
print(len(lst))

19

In [31]:
text_code = preprocess(lst[0])
text_code

[('hello', 'NN'),
 ('you', 'PRP'),
 ('have', 'VBP'),
 ('called', 'VBN'),
 ('virtual', 'JJ'),
 ('bank', 'NN'),
 ('this', 'DT'),
 ('is', 'VBZ'),
 ('marina', 'JJ'),
 ('speaking', 'VBG'),
 ('how', 'WRB'),
 ('may', 'MD'),
 ('i', 'VB'),
 ('help', 'NN'),
 ('you', 'PRP'),
 ('hello', 'VBP'),
 ('marina', 'PRP'),
 ('i', 'NN'),
 ('have', 'VBP'),
 ('forgotten', 'VBN'),
 ('my', 'PRP$'),
 ('banking', 'NN'),
 ('application', 'NN'),
 ('password', 'NN'),
 ('what', 'WP'),
 ('should', 'MD'),
 ('i', 'VB'),
 ('doyou', 'NNS'),
 ('have', 'VBP'),
 ('to', 'TO'),
 ('press', 'VB'),
 ('on', 'IN'),
 ('forgot', 'JJ'),
 ('password', 'JJ'),
 ('button', 'NN'),
 ('on', 'IN'),
 ('the', 'DT'),
 ('application', 'NN'),
 ('screen', 'NN'),
 ('and', 'CC'),
 ('we', 'PRP'),
 ('will', 'MD'),
 ('send', 'VB'),
 ('you', 'PRP'),
 ('a', 'DT'),
 ('security', 'NN'),
 ('number', 'NN'),
 ('to', 'TO'),
 ('your', 'PRP$'),
 ('phone', 'NN'),
 ('numberoh', 'NN'),
 ('that', 'WDT'),
 ('is', 'VBZ'),
 ('bad', 'JJ'),
 ('i', 'NN'),
 ('did', 'VBD'),
 ('not', 'RB'),
 ('use', 'VB'),
 ('my', 'PRP$'),
 ('old', 'JJ'),
 ('phone', 'NN'),
 ('number', 'NN'),
 ('anymore', 'RB'),
 ('but', 'CC'),
 ('i', 'NNS'),
 ('have', 'VBP'),
 ('not', 'RB'),
 ('changed', 'VBN'),
 ('my', 'PRP$'),
 ('details', 'NNS'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('bank', 'NN'),
 ('information', 'NN'),
 ('that', 'WDT'),
 ('is', 'VBZ'),
 ('fine', 'JJ'),
 ('could', 'MD'),
 ('i', 'VB'),
 ('have', 'VB'),
 ('your', 'PRP$'),
 ('account', 'NN'),
 ('number', 'NN'),
 ('that', 'WDT'),
 ('is', 'VBZ'),
 ('111', 'CD'),
 ('544', 'CD'),
 ('222', 'CD'),
 ('okay', 'NN'),
 ('and', 'CC'),
 ('what', 'WP'),
 ('is', 'VBZ'),
 ('your', 'PRP$'),
 ('identification', 'NN'),
 ('number', 'NN'),
 ('okay', 'IN'),
 ('umm', 'JJ'),
 ('my', 'PRP$'),
 ('identification', 'NN'),
 ('number', 'NN'),
 ('is', 'VBZ'),
 ('11025', 'CD'),
 ('69854', 'CD'),
 ('11', 'CD'),
 ('2', 'CD'),
 ('okay', 'NN'),
 ('i', 'NNS'),
 ('have', 'VBP'),
 ('11025', 'CD'),
 ('69854', 'CD'),
 ('11', 'CD'),
 ('2', 'CD'),
 ('yes', 'NNS'),
 ('that', 'WDT'),
 ('is', 'VBZ'),
 ('right', 'JJ'),
 ('and', 'CC'),
 ('what', 'WP'),
 ('is', 'VBZ'),
 ('your', 'PRP$'),
 ('name', 'NN'),
 ('madam', 'VB'),
 ('my', 'PRP$'),
 ('name', 'NN'),
 ('is', 'VBZ'),
 ('amanda', 'JJ'),
 ('nelson', 'JJ'),
 ('okay', 'NN'),
 ('miss', 'NN'),
 ('nelson', 'NN'),
 ('what', 'WP'),
 ('is', 'VBZ'),
 ('your', 'PRP$'),
 ('phone', 'NN'),
 ('number', 'NN'),
 ('madam', 'VB'),
 ('my', 'PRP$'),
 ('phone', 'NN'),
 ('number', 'NN'),
 ('is', 'VBZ'),
 ('771', 'CD'),
 ('985', 'CD'),
 ('5587', 'CD'),
 ('i', 'NN'),
 ('just', 'RB'),
 ('replaced', 'VBD'),
 ('your', 'PRP$'),
 ('phone', 'NN'),
 ('number', 'NN'),
 ('and', 'CC'),
 ('you', 'PRP'),
 ('can', 'MD'),
 ('reset', 'VB'),
 ('your', 'PRP$'),
 ('password', 'NN'),
 ('in', 'IN'),
 ('the', 'DT'),
 ('application', 'NN'),
 ('by', 'IN'),
 ('press', 'NN'),
 ('on', 'IN'),
 ('the', 'DT'),
 ('forgot', 'NN'),
 ('password', 'NN'),
 ('and', 'CC'),
 ('we', 'PRP'),
 ('will', 'MD'),
 ('send', 'VB'),
 ('you', 'PRP'),
 ('a', 'DT'),
 ('security', 'NN'),
 ('number', 'NN'),
 ('to', 'TO'),
 ('your', 'PRP$'),
 ('phone', 'NN'),
 ('thank', 'NN'),
 ('you', 'PRP'),
 ('thank', 'VBP'),
 ('you', 'PRP'),
 ('for', 'IN'),
 ('using', 'VBG'),
 ('our', 'PRP$'),
 ('service', 'NN'),
 ('ms', 'NN'),
 ('nelson', 'NN'),
 ('have', 'VBP'),
 ('a', 'DT'),
 ('good', 'JJ'),
 ('day', 'NN')]

In [11]:
lst_count = []
for i in lst:
    text_code = preprocess(i)
    tags = nltk.pos_tag(i)
    counts = Counter(tag for word,  tag in tags)
    lst_count.append(counts)
#     print(text_code, '\n')

In [14]:
tmp = list(map(lambda x: dict(x), lst_count))
df = pd.DataFrame(tmp)
df = pd.concat([text, df], axis=1, join='inner')
df.drop(columns=['WRB', 'PRP', 'RB', 'NNS'])

,text,NN,NNP,MD,VB,DT,VBZ,VBP,VBD,JJ,FW,PDT,CC,IN,$,CD
0,hello you have called virtual bank this is mar...,504,113,6,9,70,33,54,16,108,1.0,5.0,11.0,4.0,3.0,45.0
1,hello you have called virtual bank this is lin...,356,78,6,10,48,16,59,19,65,NaN,5.0,2.0,3.0,2.0,62.0
2,hello you have called virtual bank this is deb...,316,91,7,12,56,25,30,16,57,NaN,3.0,2.0,2.0,1.0,35.0
3,hello you have called virtual bank this is hel...,259,78,7,13,34,21,31,5,41,NaN,2.0,1.0,2.0,NaN,NaN
4,hello you have called virtual bank this is lin...,450,106,9,18,73,33,60,27,70,1.0,6.0,4.0,5.0,2.0,74.0
5,hello you have called virtual bank this is nan...,447,112,7,14,73,37,48,19,89,2.0,3.0,4.0,5.0,1.0,55.0
6,hello you have called virtual bank this is mar...,487,120,6,13,85,52,47,31,102,1.0,6.0,3.0,9.0,1.0,33.0
7,hello you have called virtual bank this is deb...,264,59,4,6,40,15,26,16,56,NaN,2.0,6.0,NaN,1.0,45.0
8,hello you have called virtual bank this is sar...,449,125,4,8,57,31,42,13,69,NaN,3.0,4.0,3.0,NaN,3.0
9,hello you have called virtual bank this is hel...,439,115,8,15,80,40,44,18,72,NaN,4.0,2.0,2.0,4.0,82.0
10,hello you have called virtual bank this is lin...,371,86,5,8,61,26,54,23,78,NaN,8.0,3.0,4.0,3.0,62.0
11,hello you have called virtual bank this is mar...,313,88,4,9,49,28,42,10,58,2.0,1.0,NaN,4.0,NaN,2.0
12,hello you have called virtual bank this is mar...,215,40,3,4,34,13,32,15,51,1.0,3.0,1.0,NaN,3.0,54.0
13,hello you have called virtual bank this is nan...,401,105,8,13,63,28,42,16,78,1.0,4.0,3.0,4.0,2.0,45.0
14,hello you have called virtual bank this is deb...,460,104,8,13,68,33,46,21,74,1.0,3.0,6.0,1.0,3.0,55.0
15,hello you have called virtual bank this is hel...,499,136,5,11,66,43,68,10,88,3.0,NaN,1.0,5.0,3.0,7.0
16,hello you have called virtual bank this is sar...,429,122,7,13,54,30,31,15,90,1.0,3.0,4.0,4.0,1.0,5.0
17,hello you have called virtual bank this is nan...,293,71,7,12,45,25,37,14,57,4.0,1.0,2.0,1.0,1.0,41.0
18,hello you have called virtual bank this is hel...,439,115,8,15,80,40,44,18,72,NaN,4.0,2.0,2.0,4.0,82.0

In [16]:
import spacy
import en_core_web_sm
nlp = en_core_web_sm.load()
# nlp = en_core_web_sm.load()

In [23]:
doc = nlp(lst[0])
print([X.text, X.label_] for X in doc.ents)

<generator object <genexpr> at 0x12e6f2ed0>

# Train-Test Split

In [41]:
from sklearn.model_selection import train_test_split
train_df, valid_df = train_test_split(text, test_size=0.6, random_state=100)
train_df

                                                 text
4   hello you have called virtual bank this is lin...
10  hello you have called virtual bank this is lin...
0   hello you have called virtual bank this is mar...
16  hello you have called virtual bank this is sar...
7   hello you have called virtual bank this is deb...
3   hello you have called virtual bank this is hel...
8   hello you have called virtual bank this is sar...